<div class="prompt-selector">

    @if (!countDownInProgress) {
        <h1>Készítsen egy portrét</h1>
    }
    @else {
        <h1>{{timeLeft}}</h1>
    }

    @if (!webcamImage) {
        <webcam mirrorImage="never" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>
        <div class="button-group">
            <p-button (click)="startTimer()">Kép Készítse</p-button>
        </div>
    }
    @else {
        <img [src]="webcamImage.imageAsDataUrl"/>
        <div class="button-group">
            <p-button class="next-button" (onClick)="acceptImage()">Tovább</p-button>
            <p-button (click)="retakeImage()">Újrakészítés</p-button>
        </div>
    }
</div>