

<p-steps [model]="items" [readonly]="false" [activeIndex]="activeIndex" (activeIndexChange)="onActiveIndexChange($event)" [readonly]="true"></p-steps>

<div class="content">
    @if (activeIndex === 0) {
        <esp-prompt-selector #promptSelector (promptEmitter)="setPrompt($event)"></esp-prompt-selector>
    }

    @if (activeIndex === 1) {
        <esp-portrait-maker (imageEmitter)="setPortrait($event)"></esp-portrait-maker>
    }

    @if (activeIndex === 2) {
        <esp-image-generator [prompt]="selectedPrompt" [portrait]="portrait" (generateImageEmitter)="setGeneratedImage($event)"></esp-image-generator>
    }

    @if (activeIndex === 3 && generatedImage && generatedImage.id) {
        <esp-qrcode-generator [imageId]='generatedImage.id ? generatedImage.id : null' ></esp-qrcode-generator>
    }
</div>
