.prompt-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
}

.gallery {
    width: 100%;
}

.gender-selector {
    display: flex;
    width: 180px;
    margin-bottom: 16px;
    justify-content: space-around;
}

.accept-button {
    margin-top: 8px;
}